[Desktop Entry]
Terminal=false
Type=Application
Name=TextToSpeechControl
Exec=mycroft-gui-app --hideTextInput --skill=skill-tts-control.jarbasskills.home
Icon=icon.png
Categories=VoiceApp
StartupNotify=false
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
